<p>Olá, <%= @resource.email %>!</p>

<p>Você está recebendo este e-mail porque solicitou a redefinição de senha para a sua conta.</p> 
<p>Se você não solicitou essa alteração, por favor, ignore esta mensagem.</p><br>
<p>Para redefinir a sua senha, clique no link abaixo:</p><br>

<p><%= link_to "Redefinir Senha", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Este link é válido por 1 hora. Após esse período, será necessário solicitar uma nova redefinição de senha, se necessário.</p>

<p>Se você teve qualquer problema ou não solicitou essa redefinição, entre em contato conosco imediatamente respondendo a este e-mail.</p>

<p>Atenciosamente,</p>

<p>Hub Drive Express</p>
